{box-sizing: boarder-box;}

.center {
  text-align: center;
}

.centerPhoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right-align {
  text-align: right;
}

body header p ,
body main footer p{
  background-color: #6b9080;
  background-size: 270px;
  padding: 10px;
  margin: 0px;
}

body main div h1{
  font-family: "Waterfall";
  font-size: 100px;
  margin-top: 250px;
  margin-bottom: 0px;
}

body main div h3{
  font-size: 40px;
  font-family: "Comic Sans MS";
  margin-top: 0px;
  margin-bottom: 250px;
}

main{
  background-color: #a3bbad;
  padding: 28px;
}

body header p{
  font-size: 28px;
  font-family:"Comic Sans MS";
}

body main section p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

body section h2{
  font-family: "Oooh Baby";
  font-size: 36px;
}

hr {
  margin: 20px;
  border-width: 2px;
  color: black;
}

li {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
}

a , body section p a{
  font-family: "Comic Sans MS", sans-serif;
  font-size: 28px;
}
a:link    { color: black;  }
a:visited { color: black;   }
a:hover   { color: olive; }
a:active  { color: green;  }

.space top{
margin-top: 100px;
padding-top: 100px;
}

.space bottom{
  margin-bottom: 100px;
  padding-bottom: 100px;
}

body main img {
  border-radius: 50%;
  height: 240px;
  width: 380px;
}