{box-sizing: boarder-box;}

.center {
  text-align: center;
}

body header div {
  background-color: #6b9080;
  background-size: 300px 200px;
  padding: 5px;

}

body header div h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 56px;
  margin: 5px;
}

body header div p{
  font-size: 20px;
  font-family: "Comic Sans MS"
}

main{
  background-color: #a3bbad;
  padding: 20px;
}

body main p{
  font-size: 20px;
  font-family:"Comic Sans MS";
}

body main section p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer {
  
}