{box-sizing: boarder-box;}

/* center items */
.center {
  text-align: center;
}

/* center photo */
.centerPhoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* sets alignment to the right */
.right-align {
  text-align: right;
}

/* create background color for nav bar */
body header p ,
body main footer p{
  background-color: #6b9080;
  background-size: 270px;
  padding: 10px;
  margin: 0px;
}

/* sets text for heading on landing page */
body main div h1{
  font-family: "Waterfall";
  font-size: 100px;
  margin-top: 250px;
  margin-bottom: 0px;
}

/* sets text for subheading under the heading on landing page */
body main div h3{
  font-size: 40px;
  font-family: "Comic Sans MS";
  margin-top: 0px;
  margin-bottom: 250px;
}

/* sets main background color */
main{
  background-color: #a3bbad;
  padding: 28px;
}

/* changes font of all <p> fonts inside nav bar */
body header p{
  font-size: 28px;
  font-family:"Comic Sans MS";
}

/* changes font of all paragraphs inside body */
body main section p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* set font of subheadings for each section  (intro, about me, contact)*/
body section h2{
  font-family: "Oooh Baby";
  font-size: 36px;
}

/* horizontal rule properties */
hr {
  margin: 20px;
  border-width: 2px;
  color: black;
}

/* font of list items */
li {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
}

/* font and size for links */
a , body section p a{
  font-family: "Comic Sans MS", sans-serif;
  font-size: 28px;
}
a:link    { color: black;  }
a:visited { color: black;   }
a:hover   { color: olive; }
a:active  { color: green;  }

/* add space above object */
.space top{
margin-top: 100px;
padding-top: 100px;
}

/* add space at bottom of object */
.space bottom{
  margin-bottom: 100px;
  padding-bottom: 100px;
}
/* this changes the photo under "intro" */
body main img {
  border-radius: 50%;
  height: 240px;
  width: 380px;
}